<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<h1>My tasks</h1>

<% @tasks.each do |task| %>
<% if task.completed %>
  <p><i class="far fa-check-square"></i><%= link_to " #{task.title} - ", task_path(task) %>
    <%= link_to raw("<i class='far fa-trash-alt'></i>"), task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %></p>
  <% else %>
  <p><i class="far fa-square"></i><%= link_to " #{task.title} - ", task_path(task) %>
    <%= link_to raw("<i class='far fa-trash-alt'></i>"), task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %></p>
<% end %>
<% end %>

  <p><i class="fas fa-plus-circle"></i><%= link_to " Add a new task", task_new_path %></p>

